/* Fonts */
@font-face {
    font-family:'Metropolis Bold';
    src:    url(../Fonts/metropolisFontFamily/Metropolis-SemiBold.woff);
}
@font-face {
    font-family:'Metropolis Thin';
    src:    url(../Fonts/metropolisFontFamily/Metropolis-ThinItalic.woff);
}
@font-face {
    font-family:'Metropolis Med';
    src:    url(../Fonts/metropolisFontFamily/Metropolis-Medium.woff);
}


/* Style */
body {
    width: 100%;
    font-family: 'Metropolis Med', sans-serif;
    background-image: url(/img/bg2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vmax;
    background-position-y: -7.2rem;
    transition: 0.5s;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    font-family: 'Quicksand', sans-serif;;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color:white;
}
nav .container img, nav .container a{
    width: max-content;
    margin: auto;
}
.navbar .nav-img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1px;
    z-index: -1;
    opacity: 1;
}
.navbar .navbar-brand, footer .left-side {
    font-weight: 600;
}
.navbar .navbar-brand img{
    width: 40px;
    height: 40px;
}
.akhir-about{
    position: absolute;
}
.grid{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
    padding-right: 5%;
}
.grid .text-container p{
    margin-top: 4rem;
    font-family: 'Quicksand', sans-serif;
}
.img-container{
    width: fit-content;
    margin: auto;
}
.img-container img{
    width: 110%;
}
.img-container p{
    margin-top: 1rem;
}
.text-container{
    width: 80%;
    height: fit-content;
    margin: auto;
    text-align: center;
}
.text-container h1{
    font-size: 2.5rem;
}
.text-container p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
}
.course-list{
    padding: 0 4rem;
    margin: 13rem auto 1rem;
}
.course-list ul li{
    margin-top: 1.4rem;
}
footer{
    padding-top: 2rem;
    background-color: #D2E7FE;
}
footer p{
    padding-top: 2rem;
}
footer .container{
    width: 100%;
    height: max-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer .right-side a{
    margin: auto;
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
}
footer .right-side{
    margin-top: 20px;
    width: max-content;
    height: inherit;
}
footer .right-side img{
    transform: scale(0.7);
}
footer .container .left-side{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer .container .left-side .contact-us{
    width: max-content;
}
footer .container .left-side .contact-us ul{
    text-align:start;
    margin-top: 25px;
}
footer .container .left-side .contact-us ul li{
    color: #000;
    list-style: none;
    margin-bottom: 10px;
}
footer .container .left-side .contact-us a{
    text-decoration: none;
}
footer .container .left-side .contact-us a:hover{
    text-decoration: underline;
}
footer .container .left-side .contact-us a img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    transition: 0.5s;
}
footer .visit-us{
    width: max-content;
    height: max-content;
}
.visit-us img{
    width: 75px;
    height: 75px;
    margin-top: 20px;
    transition: 0.5s;
}
footer .container .left-side .contact-us a img:hover{
    transform:rotate(-20deg);
}
.visit-us img:hover{
    transform:rotateZ(20deg);
}